@import url(https://fonts.googleapis.com/css?family=Lato:100,400,300,700);

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,100);
@import url(https://fonts.googleapis.com/css?family=Lora:400italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  line-height: 24px;
  font-size: 14px;
  color: #80d6a3;
  font-weight: 400;
  color: #444;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
p {
  margin: 0px;
}
h1,h2,h3,h4,h5,h6,p {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
}
/* ==================
 *
 *  Global Class 
 *
 *===================*/
.btn {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 300;
  padding: 12px 25px;
  border-radius: 0;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background: transparent;
}
.title {
  text-align: center;
  padding-bottom: 70px;
}
.title h2 {
  color: #333;
  font-size: 25px;
  padding-bottom: 25px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.title h2:before {
    content: '';
    width: 40px;
    height: 2px;
    background: #80d6a3;
    position: absolute;
    top: 12px;
    left: -60px;
}
.title h2:after {
    content: '';
    width: 40px;
    height: 2px;
    background: #80d6a3;
    position: absolute;
    top: 12px;
    right: -60px;
}
.title p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #817C7C;
}
#mixed-items .mix {
  display: none;
}
/* animation keyfrem */
@-webkit-keyframes wiggle {
  from {
    top: 10px;
  }
  to {
    top: 20px;
  }
}
@-moz-keyframes wiggle {
  from {
    top: 10px;
  }
  to {
    top: 20px;
  }
}
@-o-keyframes wiggle {
  from {
    top: 10px;
  }
  to {
    top: 20px;
  }
}
@keyframes wiggle {
  from {
    top: 10px;
  }
  to {
    top: 20px;
  }
}

header {
  padding: 20px 0;
  background: #fff;
}
header .navbar {
  height: auto;
  margin-bottom: 0;
}
.is-sticky #navigation {
  background: #fff;
  z-index: 1000;
  transition: 0.3s;
  width: 100%;
  padding: 0;
}
.navbar-brand {
  padding: 0;
  height: auto;
}
.navbar-toggle {
  border-color: #333;
  transition: 0.3s;
}
.navbar-toggle .icon-bar {
  background: #333;
  transition: 0.3s;
}
.navbar-toggle:hover {
  border-color: #80d6a3;
}
.navbar-toggle:hover .icon-bar {
  background: #80d6a3;
}
.menu a {
  color: #333;
  transition: 0.3s;
  position: relative;
  font-size: 16px;
}
.menu a:before {
  content: "";
  position: absolute;
  left: 16px;
  bottom: 12px;
  width: 0;
  height: 1px;
  background: #80d6a3;
  transition: 0.3s;
}
.menu a:hover {
  background: transparent;
  color: #80d6a3;
}

.menu .active a {
  color: #80d6a3;
}

.menu .active a:before{
  width: 25px;
}

.menu a:hover:before {
  width: 25px;
}
/* =================
   Home page style
   ================= */
#banner {
  background: url('../img/banner.jpg');
  background-size: cover;
  padding: 250px 0;
  position: relative;
}
#banner:before {
  position: absolute;
  z-index: 99;
  background: rgba(0, 0, 0, 0.73);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
}
#banner .block {
  position: relative;
  z-index: 999;
  color: #fff;
}
#banner .block h1 {
  padding-bottom: 25px;
  font-size: 55px;
  font-weight: 100;
  color: #80d6a3;
}
#banner .block h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}
#banner .block .btn-learn {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 25px;
  margin: 0 7px;
  padding: 10px 22px;
  font-size: 14px;
  transition: 0.3s;
}
#banner .block .btn-learn:hover {
  border-color: #80d6a3;
  color: #80d6a3;
}
#banner .block .buttons {
  margin-top: 40px;
}
#banner .block .buttons a:first-child {
  margin-left: 0;
}
#banner .scrolldown {
  position: absolute;
  left: 50%;
  bottom: 18%;
}
#banner .scrolldown .scroll {
  border-radius: 100px;
  width: 25px;
  height: 45px;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -15px;
  display: inline-block;
  border: 1px solid #fff;
  z-index: 99;
}
#banner .scrolldown .scroll:after {
  background: #fff;
  border-radius: 300px;
  width: 4px;
  height: 9px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin: 0 0 0 -2px;
  display: block;
  content: " ";
  -webkit-animation: wiggle 0.5s linear 0s infinite alternate;
  -moz-animation: wiggle 0.5s linear 0s infinite alternate;
  -o-animation: wiggle 0.5s linear 0s infinite alternate;
  animation: wiggle 0.5s linear 0s infinite alternate;
}
#features {
  padding: 100px 0 0;
}
#features .feature-block {
  padding-bottom: 35px;
}
#features .feature-block .icon-box {
  margin-bottom: 24px;
}
#features .feature-block .icon-box i {
  display: inline-block;
  line-height: 1;
  font-size: 60px;
  transition: 0.3s;
  color: #80d6a3;
}
#features .feature-block h4 {
  font-size: 20px;
  color: #333;
  position: relative;
  text-transform: none;
  margin-bottom: 10px;
  font-weight: 400;
}
#features .feature-block p {
  font-size: 15px;
  color: #888;
  line-height: 24px;
  font-weight: 300;
  margin-top: 20px;
  
}
#features .showcase-img {
  margin-top: 40px;
}
#counter {
  background: url(../img/counter-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  padding: 100px 0;
}
#counter:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.72);
}
#counter .title {
  position: relative;
}
#counter .title h2 ,#counter .title p {
  color: #fff;
}
#counter .block {
  margin-bottom: 20px;
}
#counter .block i {
  display: block;
  font-size: 40px;
  line-height: 1;
  padding-bottom: 20px;
  color: #80d6a3;
}
#counter .block span {
  line-height: 1;
  display: inline-block;
  color: #fff;
}
#counter .block .count-text {
  font-size: 36px;
}
#counter .block p {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  padding-top: 20px;
}

#html5-watermark {
  display: none !important;
}

#recipe {
  border: 1px solid rgb(0, 0, 0);
  height: 500px;
  padding: 10px;
  border-radius: 10%;
}

#curiosity {
  padding: 80px 0 180px;
}
#curiosity .block {
  position: relative;
  overflow: hidden;
  border:3px solid transparent;
  -webkit-transition: .4s all;
  -o-transition: .4s all;
  transition: .4s all;
}
#curiosity .block img {
  width: 100%;
  position: relative;
}

#curiosity .block:hover {
  border: 3px solid #80d6a3;

}
#curiosity .block:hover .curiosity-overlay {
  bottom: 0;
  opacity: 1;
}
#curiosity .curiosity-overlay {
  background: rgba(255, 255, 255, 0.95);
  color: #fff;
  text-align: center;
  padding: 48px 62px;
  position: absolute;
  bottom: -150px;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  
  transition: 0.3s;
}

#curiosity .curiosity-overlay h3,
#curiosity .curiosity-overlay span {
  color: #333;
}
#curiosity .curiosity-overlay span {
  display: block;
  font-size: 13px;
  padding-top: 10px;
}
#curiosity .curiosity-overlay .icon {
  width: 38px;
  height: 38px;
  margin: 0 auto;
  padding: 10px;
  line-height: 1;
  margin-top: 36px;
  margin-bottom: 25px;
  border-radius: 100%;
  display: inline-block;
  background: #80d6a3;
}
#curiosity .curiosity-overlay .icon i {
  font-size: 18px;
  color: #fff;
}
#curiosity .curiosity-overlay p {
  font-size: 14px;
  line-height: 23px;
  color: #707a8a;
  
}
#curiosity .curiosity-overlay .media {
  margin-top: 10px;
}
#curiosity .curiosity-overlay .media a {
  font-size: 12px;
  color: #fff;
  transition: 0.3s;
  margin: 0 10px;
}
#curiosity .curiosity-overlay .media a:hover {
  color: #80d6a3;
}


#footer-top iframe {
  width: 100%;
  height: 385px;
  transform: translateZ(0px);
  background-color: #ffffff;
  border: 0;
}

#global-header {
  background: url(../img/contact-slider-img.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 0 90px;
  text-align: center;
  position: relative;
}
#global-header:before {
  position: absolute;
  z-index: 99;
  background: rgba(60, 59, 72, 0.69);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  z-index: 1;
}
#global-header .block {
  position: relative;
  z-index: 10;
  color: #fff;
}
#global-header .block h1 {
  font-size: 50px;
  margin-top: 20px;
}
#global-header .block p {
  font-size: 15px;
  padding-top: 10px;
  font-family: 'Lora', serif;
}

#client-logo {
  padding: 0 0 100px;
  text-align: center;
}
#client-logo a {
  padding: 14px 24px;
  display: block;
}
#client-logo a img {
  transition: 0.3s;
  margin: 0 auto;
}
#client-logo a:hover img {
  transform: scale(1.2);
}
footer {
  background: #202322;
  padding: 42px 0 65px 0;
  text-align: center;
}
footer p {
  font-size: 14px;
  color: #fff;
  line-height: 1;
  padding-top: 26px;
}

.company-info {
  flex: 1;
  margin: 0 20px;
}

.quick-contact-form {
  flex: 1;
}

.quick-contact-form input, .quick-contact-form textarea, .quick-contact-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
